@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html, body {
	font-family: Rubik, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.4em;
}

main {
	width: 100%;
	min-width: 480px;
	max-width: 1000px;
	display: table;
	margin: 2rem auto 4rem auto;
	// opacity: 0;
	// &.show {
	// 	opacity: 1;
	// transition: opacity 300ms ease-in-out;
	// }
}

h1, h2, h3, h4 {
	margin: 0 auto;
}

p {
	width: 60%;
	margin: 0 auto 1rem 0;
}

h2 {
	font-size: 40px;
	line-height: 1.2em;
	text-align: center;
}

a, a:hover, a:visited {
	color: black;
}

header {
	text-align: center;
	a {
		text-decoration: none;
	}
	h3 {
		margin: 0 auto;
	}
}

header#main-header {
	height: 80%;
	width: auto;
	min-width: 480px;
	max-width: 1000px;
	display: table;
	margin: 4rem auto 0 auto;
}

#page-title {
	margin-top: .5rem;
	opacity: .6;
}

.cat {
	width: 20rem;
	margin: 0 auto 1rem auto;
	padding: 0 0 1rem 0;
	text-align: center;
	&:not(:last-child) {
		border-bottom: 1px dotted #ccc;
	}
}

.sub-cats a {
	font-size: .75rem;
	margin: 0 .25rem;
}

.photo-post {
	width: 100%;
	padding: 2rem 0 4rem 0;
	border-top: 1px solid #ccc;
	h2 {
		width: 100%;
		margin: 0 0 2rem 0;
	}
}

.photo-content {
	width: 100%;
}

.fc-embed {
	margin: 0 auto;
}
.fc-cutline:not(:empty) {
	margin: 1em auto;
}
.fc-panel {
	p {
		width: 100%;
	}
}